<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyFinan-Access</title>
  </head>
  <body>
    <h1>Criar novo artigo:</h1>
    <form action="/send-article" method="POST">
      <label for="title">Título:</label><br>
      <input type="text" name="title" id="title" /><br><br>
      <label for="description">Descrição:</label><br>
      <textarea name="description" id="description" cols="60" rows="10"></textarea><br><br>
      <label for="description">Adicione a URL da imagem:</label><br>
      <input type="url" name="url" id="url"><br><br>
      <input type="submit" value="Adicionar novo artigo" />
    </form>
  </body>
</html>
